<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Arjun Mani</title>
		<link rel="shortcut icon" type="image/png" href="../imgs/favicon.png"/>
		<!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>
	<header>
		<div class="title"><h1><a href="/">Arjun Mani</a></h1></div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#Research">Research</a></li>
				<li><a href="/projects">Projects</a></li>
                <li><a href="/music">Music</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</header>
  <body>
    <div class="container">

      {{ content }}

		</div><!-- /.blurb -->
	</div><!-- /.container -->
<footer>
	<ul>
		<li><a href="mailto:asm2290@columbia.edu">Email</a></li>
		<li><a href="https://github.com/arjun-mani">Github</a></li>
		<li><a href="https://www.linkedin.com/in/arjun-mani/">Linkedin</a></li>
        <li><a href="mailto:asm2290@columbia.edu">CV</a></li>
	</ul>
</footer>
</body>
</html>
